<div class="container">
    <button (click)="wishListDetails()">GetWishList</button>
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Symbol</th>
                <th>Name</th>
                <th>Currency</th>
                <th>Exchange</th>
                <th>Mic_Code</th>
                <th>Country</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           <tr *ngFor="let stocks of data">
            <td>{{stocks.symbol}}</td>
            <td>{{stocks.name}}</td>
            <td>{{stocks.currency}}</td>
            <td>{{stocks.exchange}}</td>
            <td>{{stocks.mic_code}}</td>
            <td>{{stocks.country}}</td>
            <td>{{stocks.type}}</td>
            <td><button class="btn btn-danger" (click)="removeStocks(stocks)">Remove From WishList</button></td>

           </tr>
        </tbody>
 
    </table>
</div>
